---
layout: home
title: 文章分类
header: Posts By Category
group: navigation
---
{% include JB/setup %}
<div class="dashbord clearfix categories-lists" >

    <div class="di_shui">
        <strong>文章分类</strong>
        <div class="drip"></div>
    </div>
    <div class="showcase lists" >
        <ul class="tag_box " style="width: 47%;float: left;">
          {% assign categories_list = site.categories  %}
          {% include JB/categories_list %}
        </ul>
        <ul class="tag_box " style="width: 40%;float: left;">
            {% assign second_categories_list = 2 %}
            {% assign categories_list = site.categories %}
            {% include JB/categories_list %}
        </ul>
    </div>

</div>
