---
layout: home
title: 在闹市中修行
---
<div class="dashbord clearfix" ng-app="myApp">
    <div class="user_infor">
        <img src="/assets/images/dashborad/my_photo.jpg">
        <h2> Hi, I'm Byronlee</h2>
        <p>A full stack web development engineer in ChengDu, China.</p>
        <div class="contact">
            <p>
                <i class="icon-facebook-sign"></i>
                <i class="icon-twitter-sign"></i>
                <a href="https://github.com/byronlee" target="_blank"><i class="icon-github"></i></a>
                <a href="http://weibo.com/ginchenorlee" target="_blank"><i class="icon-pinterest" ></i></a>
                <i class="icon-google-plus-sign"></i>
            </p>
            <p>QQ交流群 : 141074017</p>
            <button>Contact Me</button>
        </div>
        <p class="language">
            <a href="#" >中文</a>
            <a href="#" >English</a>
        </p>
        <p class="description">
            We all have moments of desperation. But if we can face them head on, that’s when we find out just how strong we really are
        </p>
    </div>
    <div class="showcase" ng-controller="ShowCaseListCtrl">
        <!--<a class="button_fresh" href="javascript:void(0)" onclick="window.location.reload()">
            <i class="icon-refresh"></i>
        </a>-->
        <article class="lifted_content_box" ng-switch on="active_case[0]">
            <div ng-switch-when="text" class="tips">
                {% include part/index/text/default.html %}
            </div>
            <div ng-switch-when="image" >
                {% include part/index/images/default.html %}
            </div>
            <div ng-switch-when="code" class="codescase"  ref="{( actived_code[0] )}" >
                {% include part/index/code/default.html %}
            </div>
            <div ng-switch-when="demo" class="demoscase" ref="{( actived_demo[0] )}">
                {% include part/index/demos/default.html %}
            </div>
        </article>
    </div>

</div>
