---
layout: home
title: 在闹市中修行
---
<div class="dashbord clearfix" ng-app="myApp">
    {% include part/nav.html %}
    <div class="user_infor">
        <img src="/assets/images/avatar.png">
        <h2> Hi, I'm Byronlee</h2>
        <p>A full stack web development engineer in ChengDu, China.</p>
        <div class="contact">
            <p>
                <i class="icon-facebook-sign"></i>
                <i class="icon-twitter-sign"></i>
                <i class="icon-github"></i>
                <i class="icon-pinterest"></i>
                <i class="icon-google-plus-sign"></i>
            </p>
            <button>Contact Me</button>
        </div>
        <p class="language">
            <a href="#" >中文</a>
            <a href="#" >English</a>
        </p>
        <p class="description">
            We all have moments of desperation. But if we can face them head on, that’s when we find out just how strong we really are
        </p>
    </div>
    <div class="showcase" ng-controller="ShowCaseListCtrl">
        <article class="lifted_content_box" ng-repeat="case in cases">
            <h1>Tips</h1>
            <div>
            <p >
                <span>{(case.content)}</span>
            </p>
            </div>
        </article>


    </div>

</div>