.archive_list {
  width: 55%;
  margin: 0 auto;
  margin-top: 100px; }
  .archive_list h2 {
    float: left;
    margin-left: -100px;
    margin-top: 0px;
    font-weight: 800;
    color: #999; }
  .archive_list ul {
    list-style: none;
    padding-left: 0; }
    .archive_list ul li h3 {
      font-size: 20px; }
      .archive_list ul li h3:before {
        content: "#";
        display: inline;
        color: #ccc;
        padding-right: 2px;
        position: relative;
        font-size: 25px; }
      .archive_list ul li h3 a {
        width: 73%;
        display: inline-block;
        overflow: hidden;
        word-break: keep-all;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #999; }
        .archive_list ul li h3 a:hover {
          color: red;
          text-decoration: none; }
    .archive_list ul span {
      color: #9a9a9a;
      font-size: 17px; }
