.dashbord{
    margin-top: 8%;
}

.dashbord .user_infor{
    width: 50%;
    float: left;
    border-right: 1px solid #ddd;
    text-align: center;
}
.dashbord .user_infor img{
    width: 14em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.dashbord .contact p i{
    margin: 0 10px 0 0;
    font-size: 18px;
}
.dashbord .contact button{
    background: #fff;
    border: 1px solid #ddd;
    margin: 0px 0 20px;
}
.dashbord p.language a:first-child{
    margin-right: 50px;
}
.dashbord p.language a:last-child{
    color: #555;
}
.dashbord p.description{
    width: 90%;
    margin: 0 auto;
}
.dashbord .showcase{
    width: 50%;
    float: right;
    padding: 40px 30px;
    font-size: 17px;
    padding-bottom: 0px;
}

.dashbord p.frindlink{
    margin-top: 20px;
    color: #ccc;
    margin-bottom: 0px;
}
.dashbord p.frindlink a{
    color: #ccc;
}
.dashbord .showcase .ng-scope img{
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;

}

.dashbord .codescase h2,.dashbord .codescase h3{
    text-align: center;
}

.dashbord .codescase .icon-question-sign{
    font-size: 100px;
    display: block;
    color: #777;
    margin: 0 auto;
    width: 87px;
    margin-top: 20px;
}

.dashbord .codescase input{
    width: 100%;
    border: 0px;
    border-bottom: 1px solid #ddd;
    margin-top: 80px;
}
.dashbord .codescase input:active, .dashbord .codescase input:focus{
    border: 0px;
    border-bottom: 1px solid #ddd;
    outline: 0;
}

.dashbord .codescase [class|="icon"]{
    font-size: 100px;
    display: block;
    color: #777;
    margin: 0 auto;
    width: 87px;
    margin-top: 20px;
}

.dashbord .codescase .icon-ok-sign{
    color: green;
}

.dashbord .codescase .icon-remove-sign{
    color: red;
}
/* dashbord right css begin */

.lifted_content_box {
    display: block;
    position: relative;
}
.lifted_content_box .tips {
    margin-top: 130px;
}

.lifted_content_box h1 {
    font-size: 14px;
    font-weight: bold;
    line-height: 2em;
    margin: 0; /* for the triangular shape/cut */
    height: 0;
    border-bottom: 25px solid #505050; /* kinda acts as the height */
    border-right: 15px solid transparent; /* adjust to change the angle */
    display: inline-block;
    color: #fff;
    text-shadow: 1px 1px 0 #585858;
    padding: 0 10px;
    vertical-align: bottom; /* fixes the mysterious gaps bug */
}

.lifted_content_box .tips div {
    padding: 10px;
    background: #fff;
    border-top: 5px solid #505050; /* was just experimenting. gives a nice look and feel: D */;
    -webkit-box-shadow: inset 0px 0px 10px rgba(0,0,0,0.20);
    -moz-box-shadow: inset 0px 0px 10px rgba(0,0,0,0.20);
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.20);
}

.lifted_content_box p {
    margin: 0 0 10px;
    color: #555;
    line-height: 1.5em;
}
.lifted_content_box iframe{
    width: 100%;
    min-height: 95%;
    border: 1px;
}
/* lifted shadows  */

.lifted_content_box img{
   /* margin-top: 60px;*/
}
.lifted_content_box::after {

}

.dashbord .showcase article:first-child{
    height: 520px;
    overflow: hidden;
}
/* dashbord right css end */


/* site nav css begin*/
ul.site_nav { padding:0;
    position:fixed;
    height:125px;
    width:0px;
    left: 15px;
    top: 10px;
}
ul.site_nav li {
    color:#000;
    width:40px; height:35px;
    position:absolute; bottom:25px;
    list-style:none; text-align:center;
    -webkit-transform-origin:150% top;
    transition:all 0.5s linear;
}
ul.site_nav li a {    color: #000; }
ul.site_nav li a:hover{ text-decoration: none;}
ul.site_nav li:nth-of-type(1) { -webkit-transform:transform 0.5s linear; }
ul.site_nav li:nth-of-type(2) { -webkit-transform:transform 0.4s linear; }
ul.site_nav li:nth-of-type(3) { -webkit-transform:transform 0.3s linear; }
ul.site_nav li:nth-of-type(4) { -webkit-transform:transform 0.2s linear; }
ul.site_nav li:nth-of-type(5) { -webkit-transform:transform 0.1s linear; }
ul.site_nav li:nth-of-type(6) { z-index:1; background: #fff; }

ul.site_nav li span { transition:transform 0.2s linear; }

ul.site_nav:hover { width:115px; }
ul.site_nav:hover li:nth-of-type(1) { -webkit-transform:rotate(300deg); }
ul.site_nav:hover li:nth-of-type(2) { -webkit-transform:rotate(240deg); }
ul.site_nav:hover li:nth-of-type(3) { -webkit-transform:rotate(180deg); }
ul.site_nav:hover li:nth-of-type(4) { -webkit-transform:rotate(120deg); }
ul.site_nav:hover li:nth-of-type(5) { -webkit-transform:rotate(60deg); }
ul.site_nav:hover li:nth-of-type(1) span { -webkit-transform:rotate(-300deg); }
ul.site_nav:hover li:nth-of-type(2) span { -webkit-transform:rotate(-240deg); }
ul.site_nav:hover li:nth-of-type(3) span { -webkit-transform:rotate(-180deg); }
ul.site_nav:hover li:nth-of-type(4) span { -webkit-transform:rotate(-120deg); }
ul.site_nav:hover li:nth-of-type(5) span { -webkit-transform:rotate(-60deg); }

*:not(body){ backface-visibility: hidden; }
.fa-square-o:before {
    line-height: 38px;
}
 /* Fix white screens on animation */

/* site nav css end*/

blockquote {
    color: #aaa;
    border-left: 0;
}
blockquote:before {
    content: '“';
    font-size: 70px;
    height: 30px;
    display: block;
    float: left;
    margin-left: -30px;
}

blockquote:after {
    content: '”';
    font-size: 70px;
    height: 30px;
    display: block;
    float: right;
    margin-top: -60px;
}

ol li ul{
    list-style: none;
    padding-left: 0;
}

.button_fresh{
    float: right;
    margin: -40px 0 0 0;
    color: #000;
}

.item_lists_resps{
    display: none;
}
.show_item_lists{
    width: 40%;
    float: left;
    margin-left: 70px;
    max-height: 516px;
    overflow-y: overlay;
}
.show_item_lists h2{
    font-weight: 800;
    color: #999;
}
.show_item_lists ul{
    margin-left: 0;
    padding-left: 30px;
    list-style: none;
}
.show_item_lists ul{
    margin-left: 0;
    padding-left: 30px;
    list-style: none;
}
.show_item_lists a{
    width: 100%;
    display: inline-block;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #999;
    line-height: 25px;
}
.show_item_lists a:before {
    content: "#";
    display: inline;
    color: #ccc;
    padding-right: 2px;
    position: relative;
    font-size: 20px;
}