ul.site_nav li:nth-of-type(6) {
  z-index: 1;
  background: #000 !important; }

body {
  background-color: #333;
  color: #000;
  height: 100%; }

.container {
  background-color: #fff;
  width: 80%; }
  .container .label-important {
    font-size: 16px;
    padding: 10px; }
  .container .header img {
    width: 100%;
    height: 250px; }
  .container .user_infor .span2 {
    margin-top: -80px; }
    .container .user_infor .span2 img {
      margin-bottom: 10px; }
  .container .user_infor .span10 {
    margin-top: 23px; }
    .container .user_infor .span10 p span {
      margin-right: 12px; }
  .container .experience {
    margin-bottom: 50px;
    font-size: 16px; }
    .container .experience .axle {
      width: 3px;
      height: 835px;
      float: left;
      background-color: #ccc;
      margin-left: 55px; }
    .container .experience .content {
      float: left;
      margin-left: -29px;
      margin-top: 35px;
      width: 95%; }
      .container .experience .content .item {
        margin-bottom: 10px; }
      .container .experience .content .time {
        width: 55px;
        height: 55px;
        border-radius: 55px;
        left: -25px;
        color: #000;
        font-size: 9px;
        line-height: 55px;
        text-align: center;
        cursor: pointer;
        background-color: #ccc; }
      .container .experience .content .description {
        float: left;
        margin: -45px 0 0 96px; }
  .container .strive {
    width: 75%;
    margin-left: 13%; }
    .container .strive .span4 {
      margin-bottom: 80px; }
      .container .strive .span4 h4 {
        font-size: 60px; }
      .container .strive .span4 .span9 {
        margin-top: 15px; }
  .container .apply .span4 {
    margin-left: 70px; }
  .container .apply .span6 ul {
    list-style: none;
    margin: 43px 0 0 53px; }
    .container .apply .span6 ul li {
      font-size: 27px;
      font-weight: bolder;
      line-height: 45px; }
  .container .contact {
    width: 48%;
    margin-left: 30%;
    margin-bottom: 70px; }
    .container .contact ul {
      list-style: none;
      margin-bottom: 70px; }
      .container .contact ul li {
        line-height: 30px;
        font-size: 17px;
        font-weight: bolder; }
  .container .interest .span8 ul li {
    line-height: 30px; }
  .container .interest .span1 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    margin: 166px 0 0 0; }
  .container .interest .span3 {
    margin-top: 79px; }
  .container .comments .span8 ul li {
    line-height: 30px; }
  .container .comments .span1 {
    margin: 166px 0 0 0; }

.infor {
  position: absolute;
  width: 32%;
  height: 100%; }
  .infor img.gb {
    margin: 35% 0 0 26%; }
  .infor div {
    width: 5px;
    word-wrap: break-word;
    position: absolute; }

.dispaly {
  width: 68%;
  float: right;
  hight: 100%; }

/* The console container element */
#console {
  position: absolute;
  /*      width: 100%;*/
  width: 68%;
  height: 100%;
  /*   background-color:black;*/ }

/* The inner console element. */
.jqconsole {
  padding: 10px;
  background: #000;
  border: 0;
  font-size: 17px;
  color: #cccccc;
  line-height: 20px; }

/* The cursor. */
.jqconsole-cursor {
  background-color: gray; }

/* The cursor color when the console looses focus. */
.jqconsole-blurred .jqconsole-cursor {
  background-color: #666; }

/* The current prompt text color */
.jqconsole-prompt {
  color: #0d0; }

/* The command history */
.jqconsole-old-prompt {
  color: #0b0;
  font-weight: normal; }

/* The text color when in input mode. */
.jqconsole-input {
  color: #dd0; }

/* Previously entered input. */
.jqconsole-old-input {
  color: #bb0;
  font-weight: normal; }

/* The text color of the output. */
.jqconsole-output {
  color: white; }
