<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" >
<ul class="site_nav">
    <li>
    <span class="fa-stack fa-lg">
         <a href="" title="about me">
             <i class="fa fa-square-o fa-stack-2x"></i>
             <i class="fa icon-user fa-stack-1x"></i>
         </a>
    </span>
    </li>
    <li>
    <span class="fa-stack fa-lg">
     <a href="" title="resume">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa  icon-file fa-stack-1x"></i>
     </a>
    </span>
    </li>
    <li>
    <span class="fa-stack fa-lg">
       <a href="" title="tags">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa icon-tags fa-stack-1x"></i>
           </a>
    </span>
    </li>
    <li>
    <span class="fa-stack fa-lg">
         <a href="" title="categories">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa fa-folder fa-stack-1x"></i>
             </a>
    </span>
    </li>
    <li>
    <span class="fa-stack fa-lg">
         <a href="" title="archive">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa icon-th-list  fa-stack-1x"></i>
             </a>
    </span>
    </li>
    <li>
    <span class="fa-stack fa-lg">
         <a href="" title="home">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa fa-home fa-stack-1x"></i>
             </a>
    </span>
    </li>

</ul>