<link href="/assets/stylesheets/font-awesome.css" rel="stylesheet" >
<ul class="site_nav">
    <li>
    <span class="fa-stack fa-lg">
         <a href="/projects.html" title="projects">
             <i class="fa fa-square-o fa-stack-2x"></i>
             <i class="fa icon-laptop fa-stack-1x"></i>
         </a>
    </span>
    </li>
    <li>
    <span class="fa-stack fa-lg">
     <a href="/resume/index.html" title="resume" target="_blank">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa  icon-file fa-stack-1x"></i>
     </a>
    </span>
    </li>
    <li>
    <span class="fa-stack fa-lg">
       <a href="/tags.html" title="tags">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa icon-tags fa-stack-1x"></i>
           </a>
    </span>
    </li>
    <li>
    <span class="fa-stack fa-lg">
         <a href="/categories.html" title="categories">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa fa-folder fa-stack-1x"></i>
             </a>
    </span>
    </li>
    <li>
    <span class="fa-stack fa-lg">
         <a href="/archive.html" title="archive">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa icon-th-list  fa-stack-1x"></i>
             </a>
    </span>
    </li>
    <li>
    <span class="fa-stack fa-lg">
         <a href="/" title="home">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa fa-home fa-stack-1x"></i>
             </a>
    </span>
    </li>

</ul>