<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="baidu-site-verification" content="66CQHDScLT" />
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.title }}">
    {% if page.tags %}
      <meta name="keywords" content="{{ page.title }}  {{ page.tags | array_to_sentence_string }}  {{ page.categories  | array_to_sentence_string }}" />
    {% endif %}
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap styles -->
    <link href="/assets/themes/bootstrap-3/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Optional theme -->
    <link href="/assets/themes/bootstrap-3/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Sticky Footer -->
    <link href="/assets/themes/bootstrap-3/bootstrap/css/bs-sticky-footer.css" rel="stylesheet">
    <link href="/assets/themes/bootstrap-3/css/font-awesome.css" rel="stylesheet">
    <link href="/assets/stylesheets/home.css" rel="stylesheet">
    <link href="/assets/stylesheets/archive.css" rel="stylesheet">
    <link href="/assets/stylesheets/post.css" rel="stylesheet">
    <link href="/assets/stylesheets/categories.css" rel="stylesheet">
    <link href="/assets/stylesheets/tags.css" rel="stylesheet">
    <link href="/assets/stylesheets/links.css" rel="stylesheet">
    <link href="/assets/stylesheets/projects.css" rel="stylesheet">
    <!--code highlighter-->
    <link href="/assets/stylesheets/syntax.css" rel="stylesheet">
    <!-- Custom styles -->
    <link href="/assets/themes/bootstrap-3/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <![endif]-->
    {% include JB/analytics %}
    <link rel="shortcut icon" href="/assets/images/site.ico">
    <!-- Fav and touch icons -->
    <!-- Update these with your own images
      <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
      <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
</head>

<body>
<div id="wrap">
    <div class="container">
        {% include part/nav.html %}
        {{ content }}
    </div>
</div>

<!-- Latest compiled and minified JavaScript, requires jQuery 1.x (2.x not supported in IE8) -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/javascripts/jquery.min.js"></script>
<script src="/assets/themes/bootstrap-3/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/javascripts/angular.js"></script>
<script src="/assets/javascripts/controllers.js"></script>
<script src="/assets/javascripts/dashbord.js" type="text/javascript"></script>
</body>
</html>
